%html
  %head
    = stylesheet_link_tag 'email'
  %body
    .bg{style:"background-image: url(#{image_url('/images/paper.png')})"}
      .container
        .header
          = ENV['PAGE_TITLE']
        .main
          .title
            = @announce.subject
          .content.markdown
            = markdown(@announce.body)

