= simple_form_for(@restaurant) do |f|
  .form-inputs
    = f.input :name, label: '名前'
    = f.input :latitude, as: :hidden
    = f.input :longitude, as: :hidden
    = f.input :tag_list, label: 'タグ', hint: 'カンマ区切りで書いて下さい'
    = f.input :description, label: '紹介文'
    = f.input :image, label: '画像'

  #map-canvas.editable{data: {lat: @restaurant.latitude, lng: @restaurant.longitude}}

  .form-actions
    = f.button :submit, class: 'btn-primary', data: { disable_with: '送信中' }
