= simple_form_for(@restaurant) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :latitude
    = f.input :longitude
    = f.input :tag_list

  .form-actions
    = f.button :submit

#map-canvas{data: {lat: @restaurant.latitude, lng: @restaurant.longitude}}
