- show_map ||= false
.restaurants__detail-header
  .restaurants__image_frame{style: "background:url(#{restaurant.image_url}) no-repeat center; background-size: cover"}
  .restaurants__detail-container
    = link_to restaurant.name, restaurant, class: 'restaurants__detail-name'
    - if user_signed_in?
      = link_to '編集', edit_restaurant_path(@restaurant), class: 'btn btn-warning btn-xs'
    .restaurants__detail-tags
      %span.restaurants__tags-label
        タグ:
      - restaurant.tag_list.each do |tag|
        = link_to restaurants_path(tag: tag) do
          %span.tag-name= tag
    .restaurants__detail-description
      = restaurant.description
- if show_map
  #map-canvas{data: {lat: restaurant.latitude, lng: restaurant.longitude, name: restaurant.name}}
.restaurants__detail-reviews-container
  %p.restaurants__detail-reviews-header
    レビュー:
  %ul.restaurants__detail-reviews{data: {restaurant_id: restaurant.id}}
    - restaurant.reviews.order(created_at: :desc).each do |review|
      = render 'reviews/review', review: review
  - if user_signed_in?
    - new_review = restaurant.reviews.build(user_id: current_user.id)
    = simple_form_for [restaurant, new_review], remote: true do |f|
      = f.input :body, label: '新しいレビュー', input_html: { class: 'js-new-review-textarea' }
      = f.button :submit, class: 'btn btn-primary btn-sm'
