.restaurants__container
  .restaurants__sidebar
    .restaurants__filter-description
      - if @filter_tag.present?
        店舗数: #{@restaurants.count}件（『#{@filter_tag}』で絞り込み中）
      - else
        店舗数: #{@restaurants.count}件
    .restaurants__restaurants-list-container.js-nicescroll
      .restaurants__restaurants-list
        %ul.restaurants-list
          - @restaurants.each do |restaurant|
            = render 'restaurants/list_item', restaurant: restaurant
  .restaurants__main.js-nicescroll
    #map-canvas-index
    %hide#restaurants-data{data: { restaurants: restaurants_to_data(@restaurants) }}
    .restaurants__detail
      .restaurants__loading.js-restaurant-loading
        = image_tag '/ajax-loader.gif'
