%p#notice= notice

%p
  %b Name:
  = @restaurant.name
%p
  %b Latitude:
  = @restaurant.latitude
%p
  %b Longitude:
  = @restaurant.longitude
%p
  %b Tag list:
  - @restaurant.tag_list.each do |tag|
    %span.tag-name= tag

= link_to 'Edit', edit_restaurant_path(@restaurant)
\|
= link_to 'Back', restaurants_path
