.panel.panel-default.reviews__review-list-item.js-review{data: {review_id: review.id}}
  .panel-heading.reviews__review-heading
    = link_to review.user do
      = image_tag review.user.image_url, class: 'reviews__review-user-image'
      %span.reviews__review-user-name
        = review.user.name
    さんのレビュー
    %span.reviews__review-created-time.pull-right
      - if review.user == current_user
        = link_to [review.restaurant, review], method: :delete, remote: true, data: {confirm: '削除してもいいですか？' } do
          = icon ('trash')
        = link_to '#', class: 'js-edit-review-link' do
          = icon('pencil')
      #{l review.created_at}
  .panel-body
    .reivews__review-main.js-toggle-edit-review
      .reviews__review-body
        = markdown(review.body)
    .reviews__review-edit-form.js-toggle-edit-review
      = simple_form_for [review.restaurant, review], remote: true do |f|
        = f.input :body, label: false, input_html: { class: 'js-review-input', rows: 5 }
        = f.button :submit, '保存', class: 'btn btn-primary btn-sm', data: { disable_with: '送信中' }
        = link_to 'キャンセル', '#', class: 'btn btn-default btn-sm js-cancel-edit-review-link'
        .hide.js-review-body>= preserve(html_escape(review.body))
  .panel-footer.review-comments
    .js-review-comments
      - review.comments.each do |comment|
        = render 'comments/comment', review: review, comment: comment
    = render 'comments/form', review: review
