!!! 5
%html
  %head
    %title グルメマップ
    = growlyflash_static_notices
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-default{role:'navigation'}
        .container-fluid
          .navbar-header
            = link_to 'グルメマップ', root_path, class: 'navbar-brand'
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to 'お店を登録', new_restaurant_path
              %li.dropdown
                = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                  %span.glyphicon.glyphicon-user
                  = current_user.name
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to destroy_user_session_path, method: :delete do
                      %span.glyphicon.glyphicon-log-out
                      ログアウト
                  %li
                    = link_to edit_user_registration_path do
                      %span.glyphicon.glyphicon-user
                      アカウント情報
            - else
              %li
                = link_to new_user_session_path do
                  %span.glyphicon.glyphicon-log-in
                  ログイン
              %li
                = link_to new_user_registration_path do
                  %span.glyphicon.glyphicon-ok
                  サインアップ
    .container-fluid
      = yield
    %div{ class: current_page?(root_path) ? '' : 'footer' }

